* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(45, 49, 53, 255);
}

.btn-primary {
    background-color: #bf2564 !important;
    border-color: #bf2564 !important;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #af235c !important;
    border-color: #af235c !important;
}

.carousel {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

.carousel-item img {
    filter: brightness(100%);
    transition: filter 0.5s ease-in-out;
}


.carousel-item img:hover {
    filter: brightness(50%);
    transa
}

.nav-link {
    font-size: 22px;
}
